<div class="card">
  <div class="card-header text-center">
    @TrackName
  </div>
  <div class="card-body">
    <h5 class="card-title">@Name</h5>
    <button type="button" class="btn btn-info">Details</button>
    <button type="button" class="btn btn-danger" @onclick="@OnClickDeleteButton">Delete</button>
  </div>
  <div class="card-footer text-center">
    @CarName
  </div>
</div>

@code
{
    [Parameter]
    public Guid Id { get; set; }
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string CarName { get; set; }
    [Parameter]
    public string TrackName { get; set; }
    [Parameter]
    public string ImgURL { get; set; }
    [Parameter]
    public TimeSpan LapTime { get; set; }
    [Parameter]
    public EventCallback OnClickDeleteButton { get; set; }
}