@import url("open-iconic/font/css/open-iconic-bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a,
.btn-link {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

app {
  position: relative;
  display: flex;
  flex-direction: column;
}

.top-row {
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.main {
  flex: 1;
}

.main .top-row {
  background-color: #f7f7f7;
  border-bottom: 1px solid #d6d5d5;
  justify-content: flex-end;
}

.main .top-row > a,
.main .top-row .btn-link {
  white-space: nowrap;
  margin-left: 1.5rem;
}

.main .top-row a:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar {
  background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.sidebar .top-row {
  background-color: rgba(0, 0, 0, 0.4);
}

.sidebar .navbar-brand {
  font-size: 1.1rem;
}

.sidebar .oi {
  width: 2rem;
  font-size: 1.1rem;
  vertical-align: text-top;
  top: -2px;
}

.sidebar .nav-item {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

.sidebar .nav-item:first-of-type {
  padding-top: 1rem;
}

.sidebar .nav-item:last-of-type {
  padding-bottom: 1rem;
}

.sidebar .nav-item a {
  color: #d7d7d7;
  border-radius: 4px;
  height: 3rem;
  display: flex;
  align-items: center;
  line-height: 3rem;
}

.sidebar .nav-item a.active {
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
}

.sidebar .nav-item a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.content {
  padding-top: 1.1rem;
}

.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type="checkbox"]) {
  outline: 1px solid #26b050;
}

.invalid {
  outline: 1px solid red;
}

.validation-message {
  color: red;
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

.setups-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: auto;
  align-items: auto;
  gap: 1em 1em;
  margin-bottom: 1em;
}

/* .setup-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 0.3em;
  background-color: #f7f7f7;
  padding: 1em;
}

.setup-card h6 {
  margin: 0.1em;
}

.muted {
  color: grey;
}

.setup-card-buttons {
  margin: 0.5em;
} */

.setup-panel {
  height: 250px;
  background: #ffffff;
  border: 1px solid #3a0647;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.setup-panel-car-name {
  width: 100%;
  height: 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #414141;
}
.setup-panel-track-name {
  width: 100%;
  height: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #414141;
}
.setup-panel-setup-name {
  width: 100%;
  height: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8c8a8a;
}
.setup-panel-setup-date {
  width: 100%;
  height: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8c8a8a;
}
.setup-panel-setup-buttons {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.setup-panel-details-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  border: 1px solid #3a0647;
  box-sizing: border-box;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: #3a0647;
  cursor: pointer;
}
.setup-panel-details-button:hover {
  color: white;
  background-color: #3a0647;
}
.setup-panel-details-button span {
  margin-right: 0.2em;
}
.setup-panel-delete-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  border: 1px solid #d9534f;
  box-sizing: border-box;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: #d9534f;
  cursor: pointer;
}
.setup-panel-delete-button:hover {
  color: white;
  background-color: #d9534f;
}
.setup-panel-delete-button span {
  margin-right: 0.2em;
}
.setup-panel-details-button-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}
.setup-panel-delete-button-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.tire-calc-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5em;
  width: 100%;
}

.psi-kpa {
  display: flex;
  flex-direction: row;
}

.kpa {
  margin-right: 1em;
}

.recommendations-container {
  margin-left: 1em;
  width: 100%;
}

.filter-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.filter-selects {
  display: flex;
  flex-direction: row;
}

.filter-select {
  margin-right: 1em;
}

.filter-buttons {
  display: flex;
  flex-direction: row;
}

.filter-buttons button {
  margin-right: 0.5em;
}

@media (max-width: 1220px) {
  .filter-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .filter-buttons {
    margin-top: 1em;
  }

  .tire-calc-container {
    flex-direction: column;
    margin-bottom: 0em;
  }

  .recommendations-container {
    margin-left: 0em;
    margin-bottom: 1em;
  }

  .psi-kpa {
    margin-bottom: 1em;
  }
}

@media (max-width: 900px) {
  .setups-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  .filter-selects {
    flex-direction: column;
  }

  .filter-select {
    margin-bottom: 0.5em;
  }
}

@media (max-width: 440px) {
  /* .setups-container {
    grid-template-columns: 1fr;
  } */

  .filter-selects {
    width: 100%;
  }

  .filter-select {
    margin-right: 0em;
  }

  .filter-buttons {
    width: 100%;
    flex-direction: column;
  }

  .filter-buttons button {
    width: 100%;
    margin-bottom: 0.5em;
  }
}

@media (max-width: 767.98px) {
  .main .top-row:not(.auth) {
    display: none;
  }

  .main .top-row.auth {
    justify-content: space-between;
  }

  .main .top-row a,
  .main .top-row .btn-link {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  app {
    flex-direction: row;
  }

  .sidebar {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .main .top-row {
    position: sticky;
    top: 0;
  }

  .main > div {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }

  .navbar-toggler {
    display: none;
  }

  .sidebar .collapse {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }
}
