@page "/http"

@using System.Net.Http
@inject HttpClient Http

@if (testClass.Name != null)
{
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">@testClass.Name</h5>
      <h6 class="card-subtitle mb-2 text-muted">Get json-data from: https://blazor-backend-test.herokuapp.com/</h6>
      <p class="card-text">@testClass.Desc</p>
    </div>
  </div>
}else {
  <Spinner />
}

@code {
    private HttpTestClass testClass = new HttpTestClass();

    protected override async Task OnInitializedAsync() => 
        testClass = await Http.GetFromJsonAsync<HttpTestClass>("https://blazor-backend-test.herokuapp.com/");
}