@page "/setup/{Id}"

@if (setup != null)
{
    <h2>@car.Name - @track.Name</h2>
    <h4 class="text-muted">"@setup.Name"</h4>


}else
{
    <p>No setup data...</p>
}

<a href="setups" class="btn btn-dark"><span class="oi oi-chevron-left"></span> Back</a>

@code 
{
    [Parameter]
    public string Id { get; set; }
    [CascadingParameter]
    private AppData Data { get; set; }

    private Setup setup;
    private Car car;
    private Track track;


    protected override void OnParametersSet()
    {
        if (Data.Setups != null)
        {
            setup = Data.Setups.Where(s => s.Id == Guid.Parse(Id)).FirstOrDefault();
            if (setup != null)
            {
                car = Data.Cars.Where(c => c.Id == setup.Car).FirstOrDefault();
                track = Data.Tracks.Where(t => t.Id == setup.Track).FirstOrDefault();                            
            }
        }
    }
}