@page "/setup/{Id}"

@if (setup != null)
{
    <h2>@setup.Name</h2>

}else
{
    <Spinner />
}

@code 
{
    [Parameter]
    public string Id { get; set; }
    [CascadingParameter]
    private AppData Data { get; set; }

    private Setup setup;

    protected override void OnInitialized()
    {
        setup = Data.Setups.Where(s => s.Id == Guid.Parse(Id)).FirstOrDefault();
    }
}